.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;

    opacity: 0;
    animation: fadeInBg 1s ease forwards;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        z-index: 1;

        opacity: 0;
        transform: rotateZ(30deg);
        animation: fadeInLogo 4s ease forwards;
        animation-delay: 8s;
    }
}

.svg-container {
    stroke: #ffd700;
    stroke-width: 10;
    fill: none;
}

.outline-path {
    fill: none;

    stroke-dasharray: 6000;
    stroke-dashoffset: 6000;

    animation: drawOutline 20s linear forwards;
}


@keyframes fadeInBg {
  to {
    opacity: 1;
  }
}

@keyframes drawOutline {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeInLogo {
  to {
    opacity: 1;
  }
}
